<footer>
    <ul class="">
        <li>Proudly powered by</li>
        <li>
            <a href="https://www.postgresql.org/"><span class="icon-postgresql">PostgreSQL</span>PostgreSQL</a>
        </li>
        <li>
            <a href="https://www.haskell.org/"><span class="icon-haskell">Haskell</span>Haskell</a>
        </li>
        <li>
            <a href="https://haskell-servant.github.io/"><span class="icon-servant">Servant</span>Servant</a>
        </li>
        <li>
            <a href="https://www.debian.org/"><span class="icon-debian">Debian</span>Debian</a>
        </li>
        <li>
            <a href="https://reactjs.org/"><span class="icon-react">React</span>React</a>
        </li>
        <li>
            <a href="https://github.com/FlogFr/FlashCard"><span class="icon-github">Github</span>Free Source at Github</a>
        </li>
    </ul>
</footer>
