<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name="copyright" content="IziDict Copyright" />
<meta name="distribution" content="global">

<meta name="description" content="All your flashcards online!" />
<meta name="abstract" content="flashcards online" />
<meta name="keywords" content="izidict, easydict, flashcards, flashcard, memory, remember, learning" />
<meta name="author" content="Flog Haskraft" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="revisit-after" content="1 day">
<meta name="robots" content="follow" />

<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="" />
<meta property="og:description" content="" />
<meta property="og:url" content="" />
<meta property="og:site_name" content="" />

<link rel="icon" type="image/x-icon" href="{{base_url}}/favicon.ico" >
<link rel="stylesheet" href="/static/normalize.css" type="text/css" media="all" >

<title>IziDict - All Your FlashCards Online!</title>

<style>{{{css}}}</style>
