<!DOCTYPE html>
<head>
    {{> head.html}}
</head>

<body>
    <header>
        {{> header-logo.html}}

        <ul class="header-menu">
            <li>
                <a href="/">Home</a>
            </li>
        </ul>

        {{> nav.login.html}}
    </header>

    {{> nav.fullscreen.html}}

    <div class="main">
        <div class="main-part-header bg-memory">
            <h1>All your FlashCard - Online!</h1>
        </div>

        <div class="main-part">
            <h1>Never forget anything!</h1>
            <p><a href="https://en.wikipedia.org/wiki/Flashcard">FlashCards</a>
            are mostly used to consolidate your vocabulary in any languages,
            but as this method is generic, you can use it to remember
            absolutely anything. Remembering and increasing your general
            culture becomes easy.</p>
            <p>Your memory uses a two way binding. You link an idea or word in
            two way.</p>
            <p>For instance if you're a tennis fan, and I'm asking you what
            represents the number 20, you will probably never guess. But if I'm
            asking to you how many times Federer won a grand slam, you will
            find easily that it's 20!</p>
            <p>The method used at <a href="/" >IziDict.com</a> heavily rely on
            how the memory works.</p>
            <p>You create your FlashCards online (recto and verso), and can
            take quizzes about them. If you pass the quizz about a FlashCard,
            it will move to higher bucket of FlashCard, that will be asked to
            you later. If you fail, the FlashCard will be moved to a lower
            bucket of FlashCard, that will be asked to you sooner.</p>
            <p>This method has been proven to be very effective for various
            subject like:</p>
            <ul>
                <li>increase your general culture</li>
                <li>build your vocabulary</li>
                <li>learn a new language</li>
            </ul>
            <p>Still not convinced? Give it a try or contact us.</p>

            <h2>Bonus: Why this font?</h2>
            <p><a href="https://sansforgetica.rmit/">Sans Forgetica</a> is a downloadable font that is scientifically designed to help you remember your study notes.</p>

        </div>
    </div>

    {{> footer.html}}

    <script>
let backendVariables = {{{frontEndVariables}}};
    </script>
    <script src="/static/js/izidict.js"></script>
</body>
