[Unit]
Description=IziDict.com backend server, listen to :8080

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/backend-izidict
User=izidict
Group=izidict
WorkingDirectory=/home/izidict
StandardOutput=syslog

[Install]
WantedBy=multi-user.target
